@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%; /* Default grayish-black */
    --foreground: 0 0% 98%;  /* White text for contrast */
  }

  .dark {
    --background: 0 0% 0%; /* Fully black */
    --foreground: 0 0% 100%; /* Fully white text */
  }

  body {
    @apply bg-background text-foreground;
  }
}
